*{
  padding: 0;
  margin: 0;
 }
<h1>Seguridad Ciudadana</h1> {
       text-algin: center;
       background-color: #141414 black;
       color: #faf9f7 white;
       padding: 20px;
}
nav ul {
  background-color :grey;
  width: 100%;
  list-stlyle-type: none;
  text-align: center;
}
nav li {
  display: inline-flex;
}
nav a { 
    text-decoration: none;
    color: white;
    padding: 10px
    width: 150px;
}
